<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="com.android.systemui.permission.PLUGIN" />
    <uses-permission android:name="android.permission.MANAGE_NOTIFICATIONS" />

    <application tools:ignore="AllowBackup,MissingApplicationIcon">
        <service
            android:name="com.boringdroid.systemui.SystemUIOverlay"
            android:label="@string/system_ui_overlay_name"
            android:largeHeap="true"
            android:exported="true"
            android:supportsRtl="false"
            tools:ignore="ExportedService,Instantiatable">
            <intent-filter>
                <action android:name="com.android.systemui.action.PLUGIN_OVERLAY" />
            </intent-filter>
        </service>

        <service
            android:exported="true"
            android:name=".NotificationService"
            android:label="@string/system_ui_overlay_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>